
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Career Index</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            Name
        </div>
        <div class="col-sm-6">
            @Model.Name
        </div>
    </div>
</div>

