@model AddInvoice

<form asp-controller="Home" asp-action="SubmitInvoice" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="">
    <input type="hidden" asp-for="ProjectFeedId" />
    <div class="row">
        <div class="form-group">
            <label asp-for="Invoice" class="control-label"></label>
            <textarea asp-for="Invoice"></textarea>
            <span asp-validation-for="Invoice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  class="control-label">Upload Invoice</label>
             <input type="file"  name="file" id="FileInput">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
    </div>

</form>
