@model BidViewModel
@{
    ViewData["Title"] = "BidProposal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="background:#fff; border-radius: 0 0 10px 10px;">
        <h3 class="ptitle">Bid</h3>
        <form asp-controller="Bid" asp-action="BidProposal" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BidValue" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BidValue" class="form-control" />
                    <span asp-validation-for="BidValue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Comment" rows="4" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5 col-sm-push-2">
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
            </div>
        </form>
</div>
</div>
