@model SubmitReportModel

<div class="row">
    <div class="col-sm-8">
        @Html.Partial("_ProjectFeedParital.cshtml", Model.ProjectFeed)

        @if (MidWare.Models.LoggedInUser.AccountType == 4)
        {
            @Html.Partial("_SubmitReportPartial.cshtml", Model.AddReport)
        }
        @if (new int[] { 2, 3,5}.Contains(MidWare.Models.LoggedInUser.AccountType))
        {
            @Html.Partial("_SubmitInvoicePartial.cshtml", Model.AddInvoice)
        }
    </div>
    <div class="col-sm-4">
        @if (MidWare.Models.LoggedInUser.AccountType == 4)
        {
            @Html.Partial("_NearByListingPartial.cshtml", Model.ProjectFeedList)
        }

    </div>
</div>

